@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.inner {
  width: 1100px;
  margin: 0 auto; /*左右の調整*/
}

.header-inner {
  display: flex;
  justify-content: space-between; /*flexの場合端と端に位置させる*/
  padding-top: 15px;
  padding-bottom: 15px;
}

.header {
  background-color: #fff;
}

.header-box,.whatwe-inner, .footer, .ourlast-inner_mail{
  background-color: #74cfae;
}

.header-box:hover {
  color: #333;
  transition: all 0.3;
}

main {
  font-family: Raleway;
}

.ourskill-inner {
  background-color: #4e4e4e;
}

.whatwe-inner_title, .whatwe-inner_text, .ourlast-inner_mail, .ourskill-inner_title, .ourskill-innerr_title{
  color: #fff;
}

body {
  font-family: Lato;
}

.header-box {
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-bolt {
  font-size: 50px;
}

.title {
  text-align: center;
  background-color: #f2f2f2;
}

.title-inner {
  padding: 250px 0;
}

.title-inner_box {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.title-inner_under_box {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

.section-whatwe {
  background-color: #74cfae;
}

.whatwe-inner {
  padding-top: 50px;
}

.whatwe-inner_img {
  width: 35%;
  float: left;
  line-height:0;
}

.whatwe-inner_text_box {
  width: 65%;
  float: left;
  line-height: 1.5;
}

.whatwe-inner_title {
  font-size: 24px;
  margin-bottom: 35px;
}

.whatwe-inner_text {
  font-size: 20px;
  margin: 0 auto;
}

.ourlast-inner {
  font-size: 0;
  padding-top: 60px;
  padding-bottom: 70px;
}

.ourlast-inner_title {
  font-size: 24px;
}

.ourlast-inner_img {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.ourlast-inner_img li {
  margin-left: 100px;
  opacity: 0.7;
}

.ourlast-inner_img li:nth-child(n+4) {
  margin-top: 80px;
}

.ourlast-inner_img li:nth-child(3n+1) {
  margin-left: 0;
}


.ourlast-inner_img :hover {
  transition: all 0.3s;
  opacity: 1;
}


.ourlast-bottom {
  display:flex;
  justify-content: center;
  margin-top: 90px;
}

.ourlast-inner-bottom {
  width: 489px;
}

.ourlast-inner_text {
  font-size: 16px;
  line-height: 1.5;
}

.ourlast-mail {
  margin-left: 90px;
}

.ourlast-inner_mail {
  font-size: 12px;
  padding: 14px 20px;
  display: inline-block;
}

.ourlast-inner_mail:hover {
  color: #333;
  transition: all 0.3;
}

.section-ourskill {
  background-color: #4e4e4e;
}

.ourskill-inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.ourskill-inner_title {
  font-size: 24px;
  padding-bottom: 20px;
}

.ourskill-inner_img img {
  margin-top: 70px;
  font-size: 16px;
  margin-left: 180px;
}

.ourskill-inner_img img:first-child {
  margin-left: 0;
}

.ourskill-inner_img {
  color: #fff;
  font-size: 16px;
}

.ourskill-inner_img_text p {
  float: left;
  margin-left: 180px;
}

.ourskill-inner_img_text p:first-child {
  margin-left: 0;
}

.inner_img li {
  display: inline-block;
  margin-left: 180px;
}

.inner_img li:first-child {
  margin-left: 0;
}

.sns-inner {
  font-size: 0;
}

.sns_img {
  display: flex;
  justify-content: center;
  font-size: 0px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.sns_img li {
  font-size: 50px;
  width: 185px;
}

.sns_img a {
  color: #74cfae;
  padding: 20px 0;
  width: 100%;
  display: inline-block;
}

.sns_img li:hover {
  background-color: #fff;
  width: 185px;
  transition: all 0.3;
}

.fotter-inner {
  color: #fff;
  padding: 20px 0 25px 0;
}

.fotter-inner p {
  text-align: right;
}